html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

#container {
    min-height: 100vh;
    position: relative;
}

#topBar {
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.scrolling {
    box-shadow: 2px 2px 2px #f0f0f0;
}

#main {
    min-height: calc(100vh - 190px);
    padding: 0 1em;
    display: grid;
}

#footer {
    box-sizing: border-box;
    height: 130px;
    background-color: #F9F9F9;
    border-top: 1px solid #f0f0f0;
    padding-top: 20px;
}

.footer.fa-linkedin-in:hover {
    color: #000 !important;
}

.footer.fa-envelope:hover {
    color: #000 !important;    
}

.logo {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background: no-repeat center center fixed;
}