.contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.contact-cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 50rem;
    flex-direction: row;
    justify-content: center;
}

.contact-avatar {
    border-style: solid;
    color: #000 !important;
    border-color: #000;
    background-color: #fff !important;
}

.contact-avatar:hover {
    color: #EA1E25 !important;
}

.contact-para {
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

.contact-card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #EA1E25;
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    width: 17rem;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-card a {
    text-decoration: none;
}

.contact-card a:hover {
    text-decoration: underline;
    text-decoration-color: #EA1E25;
}

.contact-logo {
    max-height: 95.3px;
    margin: 0px -20px;
}